.flexRow--wrapper__top-bar {
    background-color: #000000b0;
    height: 44px;
}

.flexRowContent--wrapper__top-bar{
    max-width: 1214px;
    margin: 0 auto;
}

.flexCol--wrapper__col{
    flex-direction: row;
}

.flexCol--wrapper__col-right {
    display: flex;
    justify-content: flex-end;
}