.flexRow--wrapper__top-bar {
    background-color: #ffffff;
    height: 80px;
    width: 1680px;
    left: 0px;
    top: 0px;
}

.flexRowContent--wrapper__top-bar{
    margin: 0 auto;
}

.flexCol--wrapper__col{
    flex-direction: row;
}

.flexCol--wrapper__col-right {
    display: flex;
    justify-content: flex-end;
}

.stretchChildrenWidth {
    margin-left: 85px;
}