.paragraph--text__top-bar {
    width: 20px;
    height: 7px;
}

.wrapper--text__top-bar {
    margin-right: 30px;
}

.wrapper--text__top-bar {
    display: flex;
    align-items: center;
    height: 44px;
}

.wrapper--card__top-bar,
.paragraph--text__top-bar{
    margin: 0;
}


.container--main__text-home{
    background-color: #000000b0;
}

.image--wrapper__logo {
    margin-left: 150px;
}