@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('assets/JosefinSans-Regular.ttf');
    font-weight: 400;
}